<!DOCTYPE html>
<html>
<head>
    <title>Compressed Database</title>
</head>
<body>
    <h1>Upload Images and Info</h1>
    <form action="/upload" method="post" enctype="multipart/form-data" onsubmit="return confirm('Are you sure you want to upload and save this data?');">
        <label for="files">Select Image Files:</label>
        <input type="file" name="files[]" id="files" multiple><br><br>
        <label for="info">Enter Information:</label>
        <textarea name="info" id="info" rows="10"></textarea><br><br>
        <input type="submit" value="Upload and Save">
    </form>
    
    <h1>Query Saved Databases</h1>
    <form action="/query" method="get">
        <label for="db">Select Database:</label>
        <input type="text" name="db" id="db"><br><br>
        <input type="submit" value="Download">
    </form>
</body>
</html>
